.hcontainer{
  
   width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr;
        
        position: relative;
        flex-wrap: wrap;
        overflow: hidden;
        
   
}
.hHeader {
   grid-row-start: 1;
   grid-row-end:2;
   top:2%;
   margin-left:50px;
   margin-right:50px;
   grid-row-start:1 ; ;
   display: grid;
   grid-template-columns: 0.5fr 1.2fr 1fr;
   position:absolute;
   width:100%;

   align-items: baseline;
   justify-content: center;
  
  
}
.boLogo{
   display: flex;
   height: 50%;
 align-items: center;
   
}
.boLogo img {
   height: 100%;
}


.con2 {
   top:15%;
   height: min-content;
   grid-column-start: 1;
   grid-column-end:4;
   display:grid;
   grid-template-columns: 0.5fr 3fr;
   position:relative;   
   width:95%;
   height:min-content;
   align-items:first baseline;
   
}
.Rise {
   position:relative;
   height:100%;
   width: 100%;
   grid-column-start:2;
   grid-column-end: 3;
   display:flex;
   align-items: center;
}
.Rise img {
   margin-left:45%;
   height:40%;

}
.nBar{
   position:relative;
   grid-column-start:3;
   display: flex;
   
   

}

.sidebar {
   position: relative;
   grid-column-start:1;
   grid-column-end:1;
   width:100%;
   height: min-content;
}
.Newsfeed {
   height: 40%; /* Set a fixed height for the component */
   top:3%;
   position: relative;
   grid-column-start:2;
   width:100%;
   overflow: scroll;
}
.footer {
   width:100%;
   height:40vh;
   padding-top: 20px;
   background-color: aliceblue;
 }