body{
   width: 100vw;
        height: 100vh;
        background-image: url(../styles/assets/bg2.svg);
        background-repeat: no-repeat;
        background-size: cover;
}

.hcontainer{
    height:80vh;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr;
        
        position: relative;
        flex-wrap: wrap;
        
   
}
.hHeader {
   
   grid-row-end:2;
   top:2%;
   margin-left:50px;
   margin-right:50px;
   grid-row-start:1 ; ;
   display: grid;
   grid-template-columns: 0.3fr 1.2fr 1fr;
   position:absolute;
   width:100%;

   align-items: baseline;
   justify-content: center;
  
  
}
.boLogo{
   height: 100%;
   
}
.boLogo img {
   height: 40%;
}


.con2 {
   top:16%;
   
   grid-column-start: 1;
   grid-column-end:4;
   display:grid;
   grid-template-columns: 0.5fr 3fr;
   position:relative;   
   width:95%;
   height: 100vh;

}
.Rise {
   position:relative;
   height:100%;
   width:100%;
   grid-column-start:2;
}
.Rise img {
   height:40%;
}
.nBar{
   position:relative;
   grid-column-start:3;
   -ms-grid-column-span: 20%;
   top: -20%;

}
.sidebar {
   position: relative;
   grid-column-start:1;
   grid-column-end:1;
   width:100%;
   height: min-content;
}
.Newsfeed {
   height: 60%; /* Set a fixed height for the component */
   position: relative;
   grid-column-start:2;
   width:100%;
   overflow: hidden;
  
}
.foot {
   position: relative;
   width:100%;
   height:10vh;
   bottom:0;
   background-color: aliceblue;
 }
