  .body {
        margin: 0;
        padding-top: 5%;
        padding-left: 5%;
        padding-right:5%;
        background-image: url('./assets/connectbg.svg');
        
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height: max-content;
        overflow: hidden;
       
        
}
.outC{
  width: 100%;
        height: 100vh;
        
}
.container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
        position: relative;
        flex-wrap: wrap;
        
        
}

.h3{
  padding: 40px;
  margin-top: 50px;
}
.navbox{
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
 grid-column-start: 3;
}
.navbox.visible {
  opacity: 1;
    
}
.bgk{
  background: linear-gradient(115deg, #5f0652da 0%, #0C0000 54%, #46146D 100%);
  align-content: center;
  position: absolute;
  bottom:0;
  background-size: cover;
  z-index: 0;
  height:90%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bgk.visible{
  opacity: 1;
  }
.bgk img {
  
    width: 100%;
    max-height: 100%;
  
}
.riseCon
{ position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
 height: 30%;
}

.tagline{
  position:relative;
  display: flex;

}
.tagline img {
  padding:10px;
  justify-content: space-around;
}
.D1
{
  background: linear-gradient(70deg, #5F0651 0%, #0C0000 54%, #46146D 100%);
  align-content: center;
  position: relative;
  bottom:0;
  background-size: cover;
  z-index: 0;
  height:110vh;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.D1.visible{
  opacity: 1;
  }
.D2
{
  background: linear-gradient(120deg, #5F0651 0%, #0C0000 54%, #46146D 100%);
  align-content: center;
  position: relative;
  top:0;
  background-size: cover;
  z-index: 0;
  height:60vh;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  opacity: 0;
  transition: opacity 1s ease-in;
  margin-bottom:200px;
}
.D2.visible{
  opacity: 1;
  }


.wordentry {
    display: flex;
    
    justify-content:center;
    align-items: center;
     padding: 5%;
    
     z-index: 2;
    height: fit-content;
   
   
  }
  
  .D1{
    display: flex;
    align-self: center;
  }

.vortex {
  height: 100%;
  width:50%;
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
   
}
.Octo {
  width: max-content;
  height:90%;
}
.Vort {
  width:40%;
  position: relative;
  
}
.footer {
  width:100%;
  height:40vh;
  padding-top: 20px;
  background: linear-gradient(175deg, #240223 0%, #639580 100%);
}
