.news{
    display:flex;
    flex-direction:row;
    background-color: rgba(97, 99, 99, 0.436);
    border: 1px solid black;
    border-radius: 40px;
    margin-bottom: 0.2rem;
    overflow: scroll;
  
}
.content
{
    padding-left:5px;
    width:max-content;
    height: fit-content;
}

.feed {
    padding: 2px;
    display: flex;
    flex-direction: column;
    text-align: left; 
}
.feed img {
   
    padding:5px
}
.feed h1 {
   
    padding-top:10px;
}
.feed p {
    padding-left: 2px;
    font-size: large;
}